
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/portfoliolandingpage.css">
    <title>Portfolio:Shubhodeep Mukherjee</title>
</head>
<body>
    <!--this is MY NAME -->
    <div id="viewport">
                <div id="video">
                    <video src="/static/portfolio.mp4" autoplay loop muted>
                   </video>
                   </div>
                <div class="content">
                   <div id="name">
                    <P><b>S H U B H O D E E P</b></P>
                        <P><b>M U K H E R J E E</b></P></div>
                   
                   
                
                    <div id="skills">
                        <p>Cinematographer</p>
                        <p>Video Editor</p>
                        <P>Photographer</P>
                       
                
                    </div>
                   <div id="explore">
                     <a href="{% url 'explore' %}"><button id="explorebtn" ><i class="fa fa-internet-explorer" aria-hidden="true"></i>Explore</button></a>
                  </div>
            </div>

        </div>
    

    
</body>
</html>