
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/seemorephotos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>My Photographies</title>
</head>
<body>
    <header>
        <div id="navbar">
            <a id="name" href="{%url 'index'%}">SHUBHODEEP MUKHERJEE</a><br>
            <p>BLACKCAT</p>
            <div id="section">
            <a id="explore" href="{% url 'explore' %}">Explore</a>
            <a id="about" href="{% url 'about' %}">About</a>
            </div>
        </div>
    </header>
    <main>
       <div id="section2">
        <div class="section">
            <div class="bwscene"></div>
            <div class="samurai"></div>
            <div class="model"></div>
        </div>
        </div>
    
        <div id="potrait1">
            <div class="background2">
            <div id="captionbg2"><div id="caption"><h2><span> Durga Pujo </span></h2> <br> <span id="text2">WestBengals' biggest celebration</span><br><br><a class="seepost"href="https://www.instagram.com/p/CjIlaRPpFQH/?igsh=MTZ3cmJ6a2MyNmZmbQ==">See post</a></div></div><div id="art2"></div></div></div>
            <div id="artwork2">
                <div class="background"><div id="art"></div></div>
                <div id="captionbg"><div id="caption"><h2><span>Kolkata Beauty</span></h2> <br> <span id="text">Beautiful cities of Kolkata</span><br> <br> <br><a class="seepost" href="https://www.instagram.com/p/CquFB_3y8KS/?igsh=MW84M2FhNHdwdGVtMA==">See post</a></div></div></div>
    

    </main>
    <footer>
        <div id="copyright">
       &copy;2024 SHUBHODEEP MUKHERJEE
    
    </div>
    <div id="icons">
        <a href="https://www.instagram.com/bong_art_per_byte?igsh=MWNvZGFtN3psb3hubw=="><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/shubhodeep-mukherjee-77487b243?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://youtube.com/@sdmproduction07?si=VGk-rgcevLYzZBw2"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://x.com/Shubhodeep_0101?t=WBJv5aEogEt64L1jhgOL7g&s=09"><i class="fa-brands fa-x-twitter"></i></a>
    
    </div>
    
    </footer>
    </body>
    </html>